h2 {
    background-color: #5f458b;
    padding: 10px;
    border-color: rgb(77, 99, 159);
    border-style: solid;
    border-radius: 10px;
}

main {
    outline-style: none;
    margin-bottom: 20px;
}